#### Part 1 - Instructions from Exercise

In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

In [2]:
#import dataframes
#Define path
path = r'C:\Users\rtkel\Documents\Data Analytics Course\Instacart Basket Analysis'

In [3]:
#Import df_prods_cleaned
df_prods_cleaned =  pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'df_prods_cleaned.csv'), index_col = False)

In [4]:
#Import df_ords_cleaned
df_ords_cleaned =  pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'df_ords_cleaned.csv'), index_col = False)

In [5]:
# Importing df_ords_prior
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

In [6]:
#Check the output
df_ords_prior.shape

(32434489, 4)

In [7]:
df_ords_cleaned.shape

(3421083, 9)

In [8]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [9]:
df_ords_cleaned.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,hour_of_order,days_since_prior_order
0,0,0,2539329,1,prior,1,2,8,NaN
1,1,1,2398795,1,prior,2,3,7,15.0
2,2,2,473747,1,prior,3,3,12,21.0
3,3,3,2254736,1,prior,4,4,7,29.0
4,4,4,431534,1,prior,5,4,15,28.0

In [10]:
#Create new dataframe
df_merged_large = df_ords_cleaned.merge(df_ords_prior, on = 'order_id', indicator = True)

In [11]:
#Check columns
df_merged_large.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,hour_of_order,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,0,0,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,0,0,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,0,0,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,0,0,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [12]:
#Merge the dataframes
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [13]:
#Remove unncessary columns
df_merged_large = df_merged_large.drop(columns = ['Unnamed: 0', 'Unnamed: 0.1', '_merge'])

In [14]:
#Check df_merged_large shape
df_merged_large.shape

(32434489, 10)

In [15]:
#Export in pickle format
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))