#### 3. Import Files

In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\rtkel\Documents\Data Analytics Course\Instacart Basket Analysis'

In [3]:
#Import df_prods_cleaned
df_prods_cleaned =  pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'df_prods_cleaned.csv'), index_col = False)

In [4]:
#Import df_ords_cleaned
df_ords_cleaned =  pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'df_ords_cleaned.csv'), index_col = False)

In [5]:
#Import df_ords_prods_combined
df_ords_prods_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

#### 4. Check Shape

In [6]:
#Check shape
df_ords_prods_combined.shape

(32434489, 10)

In [7]:
#Check shape
df_prods_cleaned.shape

(49693, 6)

#### 5. Combine dataframes

In [8]:
df_ords_prods_combined.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,hour_of_order,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,prior,1,2,8,NaN,196,1,0
1,2539329,1,prior,1,2,8,NaN,14084,2,0
2,2539329,1,prior,1,2,8,NaN,12427,3,0
3,2539329,1,prior,1,2,8,NaN,26088,4,0
4,2539329,1,prior,1,2,8,NaN,26405,5,0

In [9]:
df_prods_cleaned.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [10]:
#Merge using product_id as match
df_ords_prods_merged = df_ords_prods_combined.merge(df_prods_cleaned, on = 'product_id', indicator = True)

In [11]:
df_ords_prods_merged.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,hour_of_order,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,195,Soda,77,7,9.0,both
1,2398795,1,prior,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0,both
2,473747,1,prior,3,3,12,21.0,196,1,1,195,Soda,77,7,9.0,both
3,2254736,1,prior,4,4,7,29.0,196,1,1,195,Soda,77,7,9.0,both
4,431534,1,prior,5,4,15,28.0,196,1,1,195,Soda,77,7,9.0,both

#### 6. Confirm Using Merge Flag

In [12]:
#Confirm merger
df_ords_prods_merged['_merge'].value_counts()

_merge
both          32434212
left_only            0
right_only           0
Name: count, dtype: int64

#### 7. Export Data Set

In [13]:
#Export using pickle format
df_ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'df_ords_prods_merged.pkl'))